<% provide(:title, "Log in") %>
<h1 class="text-center">Log in</h1>
<h5 class="text-center"><a href="#" data-toggle="tooltip" data-placement="right" title="E: 'admin' PW: 'password'">Default Admin Account Details</a></h5>
<h5 class="text-center"><a href="#" data-toggle="tooltip" data-placement="right" title="E: 'coordinator' PW: 'password'">Default Coordinator Account Details</a></h5>

<div class="col-md-6 col-md-offset-3">
  <div class="form">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>