<div class="form">
    <%= form_for category, url: url, method: method do |f| %>
        <%= render 'shared/error_messages', object: category %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Category Name' %>
        </div>
        <%= f.submit class: 'btn btn-primary btn-block' %>
    <% end %>
</div>