<div class="form">
    <%= form_for location, url: url, method: method do |f| %>
        <%= render 'shared/error_messages', object: location %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Location Name' %>
        </div>
        <%= f.submit class: 'btn btn-primary btn-block' %>
    <% end %>
</div>